@model Customer

<br />

<div class="row">
    <div class="col-md-12">
        <div class="well well-sm">
            <h5>CRM System</h5>
            <h6>This would help to manage customer information from CRM System.</h6>
        </div>

        <div class="well well-sm">
            <h5>Validation Errors</h5>

            @Html.ValidationSummary( excludePropertyErrors: default( bool ) )
        </div>

        @using ( Html.BeginForm() )
        {
            <div class="form-group">
                <label for="CustomerId">Customer Id</label>
                <input type="text" class="form-control" id="CustomerId"
                       value="@Model.CustomerId" name="CustomerId"
                       placeholder="Customer Id">
            </div>

            <div class="form-group">
                <label for="CustomerName">Customer Name</label>
                <input type="text" class="form-control" id="CustomerName"
                       value="@Model.CustomerName" name="CustomerName"
                       placeholder="Customer Name">
            </div>

            <div class="form-group">
                <label for="Address">Address</label>
                <input type="text" class="form-control" id="Address"
                       value="@Model.Address" name="Address"
                       placeholder="Customer Address">
            </div>

            <div class="form-group">
                <label for="CreditLimit">Credit Limit</label>
                <input type="text" class="form-control" id="CreditLimit"
                       value="@Model.CreditLimit" name="CreditLimit"
                       placeholder="Credit Limit">
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" id="ActiveStatus" name="ActiveStatus"> Active Status
                </label>
            </div>

            <div class="form-group">
                <label for="EmailId">Email Address:</label>
                <input type="text" class="form-control" id="EmailId"
                       value="@Model.EmailId" name="EmailId"
                       placeholder="Email Id">
            </div>

            <div class="form-group">
                <label for="PhoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="PhoneNumber"
                       value="@Model.PhoneNumber" name="PhoneNumber"
                       placeholder="Phone Number">
            </div>

            <div class="form-group">
                <label for="Remarks">Remarks</label>
                <input type="text" class="form-control" id="Remarks"
                       value="@Model.Remarks" name="Remarks"
                       placeholder="Phone Number">
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        }

    </div>
</div>
